<h1>Listing inventory_types</h1>

<table>
  <tr>
    <th>String</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventory_types.each do |inventory_type| %>
  <tr>
    <td><%= inventory_type.string %></td>
    <td><%= link_to 'Show', inventory_type %></td>
    <td><%= link_to 'Edit', edit_inventory_type_path(inventory_type) %></td>
    <td><%= link_to 'Destroy', inventory_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventory type', new_inventory_type_path %>
